VITE_API_BASE_URL=/api/v1
VITE_ARCGIS_API_KEY=
VITE_ARCGIS_PORTAL_URL=https://www.arcgis.com
VITE_ARCGIS_WEBSCENE_ID=
VITE_ARCGIS_DEFAULT_CENTER_LNG=106.700981
VITE_ARCGIS_DEFAULT_CENTER_LAT=10.776889
VITE_ARCGIS_DEFAULT_ZOOM=17
VITE_APP_MODE=development
VITE_BYPASS_LOGIN=false
